<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <title>login-mecado-liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body class="body-login">
    <header>
        <div class="superior">
            <div id="dos">
                <a href="/">
                    <img src="images/logo-mercado-liebre.svg" alt="Logo de Mercado Liebre">
                </a>
            </div>

            <form class="buscar-form">
                <div class="buscar">
                    <input type="text" placeholder="buscar productos...">
                    <button>
                        <i class="fa-solid fa-magnifying-glass"> </i>
                    </button>
                </div>
            </form>


            <p class="texto-header"><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de
                crédito
            </p>

        </div>

        <nav class="ocultar">
            <ul id="izq">
                <li><a href="#">Ofertas</a>&nbsp<i class="fa-solid fa-tag"></i></li>
                <li> <a href="#">Tiendas Oficiales</a></li>
                <li> <a href="#">Vender</a></li>
                <li> <a href="#">Ayuda</a></li>
            </ul>

            <ul id="der">
                <li> <a href="/register">Creá tu cuenta</a>&nbsp;<i class="fa-solid fa-circle-plus"></i></li>
                <li> <a href="/login">Ingresá</a>&nbsp;<i class="fa-solid fa-house"></i></li>
                <li> <a href="#">Mis compras</a>&nbsp;<i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>

        <div class="boton-div">
            <button class="boton-button">
                <i class="fas fa-bars"></i>
            </button>
        </div>


    </header>

    <img id="uno" src="images/img-home-banner.jpg" alt="Banner promocional">

    <main>
        <div class="formulario" action="/" method="GET">
            <input class="input-normal" type="text" id="username" name="username" placeholder="Nombre de usuario"
                required />
            <input class="input-normal" type="password" id="password" placeholder="Ingrese su contraseña"
                name="password" required />
            <input class="boton-formulario" type="submit" value="Enviar" />
        </div>
    </main>
    <footer>

        <div class="fin">
            <div class="elementos">
                <i class="fa-solid fa-credit-card"></i>
                <h3> Pagá con tarjeta o en efectivo</h3>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre es seguro!
                </p>
            </div>

            <div class="elementos">
                <i class="fa-solid fa-gift"></i>
                <h3>envío gratis desde $ 2.500</h3>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.
                </p>
            </div>

            <div class="elementos">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad, de principio a fin</strong> </h3>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.
                </p>
            </div>

        </div>
        <div class="copi">
            Copyright © 1999-2020 MercadoLiebre S.R.L.
        </div>

    </footer>
</body>

</html>